{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "compact": true,
  "env": {
    "hmr": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
