.text {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.title {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  /*
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  */
  font-size: 36px;
}

.title2 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.header {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.bigTitle {
  font-size: 42px;
}

.caption {
  font-style: italic;
}

